<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Added WOWOWOW</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Thanks for adding that great car!</h1>
      <p>@Model.MakeModel</p>
      <p>@Model.Year</p>
      <p>@Model.Color</p>
      <p>@Model.Mileage</p>
      <p>@Model.GetPrice()</p>
      <p><a href="/">Add another car?</a></p>
    </div>
  </body>
</html>
